.table {
    .fa {
        display: block;
    }

    tbody tr {
        td:nth-of-type(1) {
            font-weight: 800;
        }

        td.delete a {
            font-size: 1.5em;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.login-container,
.sign-up-container {
    margin: auto;
    width: 500px;
}

.sign-up {
    display: inline-block;
    padding-top: 7px;
}
